<div class="contaniner-fluid py-3">
    <div class="row">

        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card" style="width: 21rem;">
                
                <div class="card-body">
                  <h3 class="card-title mb-4">Total Revenue</h3>
                  <p class="card-text">$92584</p>
                  
                </div>
              </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card" style="width: 21rem;">
                
            <div class="card-body">
              <h3 class="card-title  mb-4">Total Clients</h3>
              <p class="card-text">$92584</p>
              
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card" style="width: 21rem;">
                
            <div class="card-body">
              <h3 class="card-title  mb-4">Total Orders</h3>
              <p class="card-text">$92584</p>
              
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card" style="width: 21rem;">
                
            <div class="card-body">
              <h3 class="card-title  mb-4">Total Conversion Rate</h3>
              <p class="card-text">$92584</p>
              
            </div>
          </div>
        </div>

    </div>

    <div class="row my-3">
      <div class="col-sm-12 col-md-3 col-lg-4">
        <div class="card">
          
          <div class="card-body">
            <ul class="fs-5">
              <li><h2 class="text-info">Projects</h2></li>
              <li>React Based Projects</li>
              <li>Java Based Projects</li> 
              <li>Node Based Projects</li>
              <li>Mern Stack</li>
              <li><h3>By Country</h3></li>
              <li>$84.76<p>India</p></li>
              
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-3 col-lg-4">

        <div class="card">
          
          <div class="card-body">
            <ul class="fs-5">
              <li><h2 class="text-info">Total Earnings</h2></li>
              <li><h5 class="text-info">68%</h5></li>
              <li>$545.9<p>Last Month Sales</p></li>
              <li>$545.9<p>Last Month Sales</p></li> 
              <li>$545.9<p>Last Month Sales</p></li>
            </ul>
          </div>
        </div>
      </div>

    

      <div class="col-sm-12 col-md-3 col-lg-4">
        
        <div class="card">
          
          <div class="card-body">
            <ul class="fs-5">
              <li><h2 class="text-info">Total Traffic</h2></li>
              <img src="/assserts/images/graph1.png" class="img-fluid">
            </ul>
          </div>
        </div>
      </div>

      </div>

      <div class="row">
        <div class="col-sm-12 col-md-9 col-lg-12 Recent_order">

          <table class="table ">
              <tr>
                  <th scope="col">#</th>
                  <th scope="col">Employee ID</th>
                  <th scope="col">Employee Name</th>
                  <th scope="col">Employee Designation</th>
                  <th scope="col">Employee Address</th>
                  <th scope="col">Delete</th>
                  <th scope="col">Edit</th>
              </tr>

              <tr>
                  <th>1.</th>
                  <td>101</td>
                  <td>Megha</td>
                  <td>Developer</td>
                  <td>Dwarka</td>
                  <td><button class="btn text-danger" type="submit">Delete</button></td>
                  <td><button class="btn text-danger" type="submit">Edit</button></td>
                  <td></td>
              </tr>

              <tr>
                  <th>1.</th>
                  <td>101</td>
                  <td>Megha</td>
                  <td>Developer</td>
                  <td>Dwarka</td>
                  <td><button class="btn text-danger" type="submit">Delete</button></td>
                  <td><button class="btn text-danger" type="submit">Edit</button></td>
                  <td></td>
              </tr>

              <tr>
                  <th>1.</th>
                  <td>101</td>
                  <td>Megha</td>
                  <td>Developer</td>
                  <td>Dwarka</td>
                  <td><button class="btn text-danger" type="submit">Delete</button></td>
                  <td><button class="btn text-danger" type="submit">Edit</button></td>
                  <td></td>
              </tr>

              <tr>
                  <th>1.</th>
                  <td>101</td>
                  <td>Megha</td>
                  <td>Developer</td>
                  <td>Dwarka</td>
                  <td><button class="btn text-danger" type="submit">Delete</button></td>
                  <td><button class="btn text-danger" type="submit">Edit</button></td>
                  <td></td>
              </tr>

              <tr>
                  <th>1.</th>
                  <td>101</td>
                  <td>Megha</td>
                  <td>Developer</td>
                  <td>Dwarka</td>
                  <td><button class="btn text-danger" type="submit">Delete</button></td>
                  <td><button class="btn text-danger" type="submit">Edit</button></td>
                  <td></td>
              </tr>

              <tr>
                  <th>1.</th>
                  <td>101</td>
                  <td>Megha</td>
                  <td>Developer</td>
                  <td>Dwarka</td>
                  <td><button class="btn text-danger" type="submit">Delete</button></td>
                  <td><button class="btn text-danger" type="submit">Edit</button></td>
                  <td></td>
              </tr>


              <tr>
                  <th>1.</th>
                  <td>101</td>
                  <td>Megha</td>
                  <td>Developer</td>
                  <td>Dwarka</td>
                  <td><button class="btn text-danger" type="submit">Delete</button></td>
                  <td><button class="btn text-danger" type="submit">Edit</button></td>
                  <td></td>
              </tr>


              <tr>
                  <th>1.</th>
                  <td>101</td>
                  <td>Megha</td>
                  <td>Developer</td>
                  <td>Dwarka</td>
                  <td><button class="btn text-danger" type="submit">Delete</button></td>
                  <td><button class="btn text-danger" type="submit">Edit</button></td>
                  <td></td>
              </tr>

              <tr>
                  <th>1.</th>
                  <td>101</td>
                  <td>Megha</td>
                  <td>Developer</td>
                  <td>Dwarka</td>
                  <td><button class="btn text-danger" type="submit">Delete</button></td>
                  <td><button class="btn text-danger" type="submit">Edit</button></td>
                  <td></td>
              </tr>
          </table>
      </div>

      </div>
    </div>


</div>