<%- include('./header.ejs')%>

<div class="container-fluid" style="margin-top: 79px;">
    <div class="row p-0">
        
        <!-- dashboard offcanvas starts-->
        <div class="col-sm-12 col-md-3 col-lg-2 p-0 off-canvas border-end">

            <%- include('./dash-offcanvas.ejs')%>
        </div>

        <!-- dashboard off canvas en    ds -->
        <div class="col-sm-12 col-md-9 col-lg-10 dash_content">
            <%- include('./dash_content.ejs')%>

        </div>
    </div>
</div>