
<div class="container left pt-5 mt-5">
    <div class="row">
        <div class="col border-bottom pb-3">
            <h2>Dashboard</h2>

        </div>
    </div>
    <div class="row pt-2">
        <div class="col py-3">
            <a href="/add-employee"> Add Employees</a>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col py-3">
            <a href="/add-product"> Add Product</a>
        </div>
    </div>

    <div class="row">
        <div class="col py-3">
            <a href="/employee_list">View Employee List</a>
        </div>
    </div>

    <div class="row">
        <div class="col py-3">
            <a href="/registration-data">view-registration</a>
        </div>
    </div>

    <div class="row">
        <div class="col py-3">
            <a href="#">Employee Details</a>
        </div>
    </div>

    <div class="row">
        <div class="col py-3">
            <a href="/registration"> Signup</a>
        </div>
    </div>

    <div class="row">
        <div class="col py-3">
            <a href="#">Recent Projects</a>
        </div>
    </div>

    <div class="row">
        <div class="col py-3">
            <a href="#">Chats</a>
        </div>
    </div>

</div>