<%- include('./common/header.ejs')%>

<div class="contaoner-fluid gg">
    <div class="row m-0" >
        <div class="col">

            

                <!-- about fold-1 starts-->
                <div class="row about">
                    <div class="col-sm-12 col-md-12 col-lg-5 px-4 animate__animated animate__fadeInLeftBig">
                        <h1><b>Welcome</b></h1>
                        <p>TECHNO is a full service Web Services and Products firm. We specialize in the design and development of custom websites. Oue Products are developed with the following primary objectives in mind.</p>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-5 animate__animated animate__fadeInRightBig" style="background-color: rgba(228, 217, 217, 0.413);">
                        <img src="/assserts/images/about-section1.png" class="img-fluid">
                    </div>
                </div>
                <!--  about fold-1 ends-->

                <!-- client section starts -->
                <div class="row client-sect all">
                    
                    <div class="col-sm-12 col-md-12 col-lg-5 anim6" style="background-color: rgba(228, 217, 217, 0.413);">
                        <img src="/assserts/images/client.jpg" class="img-fluid">
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-5 pt-3 anim7">
                        <h1><b>Client Generating</b></h1>
                        <p>TECHNO is a full service Web Services and Products firm. We specialize in the design and development of custom websites. Oue Products are developed with the following primary objectives in mindIt’s great to have a beautiful looking site. But frankly a beautiful looking site is worthless if it doesn’t result in generating new leads, getting those leads to contact you, and ultimately turning them into new customers.
                            <br>
                            We work with clients not to just be another pretty face on the web, but to convert visitors into paying customers.</p>
                    </div>
                </div>
                <!-- client section ends -->
        

                <!-- functionality section starts -->

                <div class="row functionality fs-6">
                    <div class="col-sm-12 col-md-12 col-lg-7 py-5 anim8">
                        <h2 class="pt-4 fs-1 px-2"><b>Core functionality</b></h2>
                        <ul>
                            <li>Intergration with services that verify the customer identities through ID documents,selfies and Government databases</li>
                            <li>Integration with the Medical register with the list of Doctors, showing their registration status, training and other useful informtion.</li>
                            <li>Integration which allows employers to check employees criminal convictions</li>
                            <li>Setting up clinical availability.</li>
                            <li>Expired Credentials data check</li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-5 p-3 anim9" style="background-color: rgba(228, 217, 217, 0.413);">
                        <img src="/assserts/images/about-section.png" class="img-fluid">
                    </div>
                </div>
                <!-- functionality section ends -->


    </div>
</div>
</div>
<%- include('./common/footer.ejs')%>



