<%- include('./common/header.ejs')%>
<div class="container-fluid" style="background-image: linear-gradient(to left,#081937,#112e67);color: #fff;">


    <div class="row" style="text-align: center;">
        <div class="col menu">
            <h1>Let's get your project started!</h1>
            <p class="pt-4">Please fill out the quick form and we will be in touch with lightning speed.</p>

        </div>
    </div>

    <div class="row pt-5-5 m-0" style="display: flex;justify-content: center;">

        <div class="col-sm-12 col-md-12 col-lg-4 pt-4 mt-4 px-5 form" style="display: flex;justify-content: right;align-items: right;">
            <form method="post" action="/login">
                <div class="row pb-2">
                    
                    <div class="col ">
                        <label>Email</label><br>
                        <input name="email" type="email" placeholder="Email" class="p-2">
                    </div>
                </div>

                <div class="row py-2">
                    <div class="col">
                        <label>Password</label><br>
                        <input name="pass" type="password" placeholder="Password" class="p-2">
                    </div>
                    
                </div>

                <!-- <div class="row py-2">
                    <div class="col">
                        <label>How can we help you?</label><br>
                        <textarea rows="5" cols="35" placeholder="How can we help you?"></textarea>
                    </div>
                </div> -->

                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <button class="btn btn-lg Request p-3 px-5 my-5" type="submit">Contact Us Now</button>
                    </div>
                </div>

        </div>
    </form>


        <div class="col-sm-12 col-md-12 col-lg-4 contact-details">

            <div class="row py-4">
                <div class="col-sm-12 col-ms-5 col-lg-2">
                    <img src="/assserts/images/msg-icon.png" class="img-fluid pt-2">
                </div>
            <div class="col-sm-12 col-ms-7 col-lg-10">
                <h2 class="pt-3">Write to us</h2>

                <a href="#" class="pb-4">deepanshikalra55@gmail.com</a>
            </div>
               
            </div>
            <div class="row py-4">

                <div class="col-sm-12 col-ms-5 col-lg-2">
                <img src="/assserts/images/location-icon.png" class="img-fluid pt-3">
                </div>
                <div class="col-sm-12 col-ms-7 col-lg-10">
                <h2 class="pt-4">Our offices</h2>

                <p class="pb-4">India , USA</p>
            </div>
            </div>

            <div class="row py-4">
                <div class="col-sm-12 col-ms-5 col-lg-2">
                    <img src="/assserts/images/call-icon.png" class="img-fluid pt-2">
                </div>
                <div class="col-sm-12 col-ms-7 col-lg-10">
                    <h2 class="pt-3">Call us</h2>
                    <a href="#" class="pb-4">+91 8510956010</a>    
                </div>
            </div>

        </div>
    </div>

</div>
<%- include('./common/footer.ejs')%>





            

            