<%- include('./common/header.ejs')%>
<div class="container-fluid">
    

    <!-- banner section starts -->
    <div class="row banner">
        <div class="col-sm-12 col-md-12 col-lg-6 px-5 animate__animated animate__fadeInLeft">
            <h1 class="pt-4">We Develop excellent Products.
            Let's develop for you</h1>
            <p class="py-2">We are 100%+ Software Engineers wuth more than 10 years of <br>experience in delivering superior products</p>
            <button class="btn" type="submit">Get started Now</button>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6"></div>
    </div>
</div>
<!-- banner section ends -->


<!--  -->
<div class="row mx-0" style="display: flex;place-content: center;margin-top: -80px; text-align: center;">
    <div class="col-sm-12 col-md-5 col-lg-2 mb-2 animate__animated animate__fadeIn">
        <div class="card serv_type" >
            <div class="card-body">
                <i class="fa-solid fa-timeline fs-1 my-5"></i>
              <h5 class="card-title"> <b>Product Engineering</b></h5>
              <p class="card-text"> 
                We always provide people a complete solution focused of any business.
              </p>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-5 col-lg-2 mb-2 animate__animated animate__fadeIn">

        <div class="card serv_type">
        <div class="card-body ">
            <i class="fa-brands fa-square-facebook fs-1 my-5"></i>
          <h5 class="card-title"> <b>Digital Services</b></h5>
          <p class="card-text"> 
            We always provide people a complete solution focused of any business.
          </p>
        
        </div>
    </div>
        
    </div>
    <div class="col-sm-12 col-md-5 col-lg-2 mb-2 animate__animated animate__fadeIn">
        
        <div class="card serv_type">
        <div class="card-body">
            <i class="fa-solid fa-people-roof fs-1 my-5"></i>
          <h5 class="card-title"> <b>It Consultancys</b></h5>
          <p class="card-text "> 
           We always provide people a complete solution focused of any business.
          </p>
        
        </div>
    </div>

    </div>
    <div class="col-sm-12 col-md-5 col-lg-2 mb-2 animate__animated animate__fadeIn">

        <div class="card serv_type">
        <div class="card-body">
            <i class="fa-solid fa-users fs-1 my-5" ></i>
          <h5 class="card-title"> <b>Expert Engineering</b></h5>
          <p class="card-text"> 
            We always provide people a complete solution focused of any business.
          </p>
        
        </div>
    </div>

    </div>
</div>


<!--  -->

<div class="row m-0">
    <div class="col py-5">

    <div class="container my-3">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 px-5 pt-3">
            <img src="/assserts/images/consult2.png" class="img-fluid">
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 px-5 pt-3 solution">
                <h6 class="py-2 heading" >30 YEARS OF EXPERIENCE</h6>
                <h1>Preparing for your Success
                    Provide best IT Solutions.
                </h1>
                <p class="pt-2">We are priviliged to wroek with hundred future-thinking awesome business including many of the world's top hardware.</p>
                
                <div class="row anim">
                    <div class="col-sm-12 col-md-3 col-lg-3 py-3"><i class="fa-solid fa-pen-to-square img-fluid" style="font-size: 50px;color: #0d377e;"></i></div>
                    <div class="col-sm-12 col-md-9 col-lg-9">
                        <h5>Flexible Solutions</h5>
                        <p class="py-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam iste illo sit animi </p>
                    </div>
                </div>

                <div class="row anim">
                    <div class="col-sm-12 col-md-3 col-lg-3 py-3"><i class="fa-solid fa-phone" style="font-size: 50px;color: #0d377e;"></i></div>
                    <div class="col-sm-12 col-md-9 col-lg-9">
                        <h5>24/7 Unlimited Support</h5>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam iste illo sit animi </p>
                    </div>
                </div>

            </div>
        </div>
        
    </div>

    </div>
<!--  -->



<!-- career section starts-->


<div class="row career_sect m-0">
    <div class="col">
        
        <div class="container pb-5">
            <div class="row">
                <div class="col py-5">
                    <h1 style="font-size: 50px;">Career at Techno</h1>
                    <p>We never quit trying and continue to grow rapidly.<br>
                        Therefoe, we are always looking for courageous people who are open to new challenges.
                    </p>
                </div>
            </div>

            <div class="row " style="text-align: left;">
                <div class="col-sm-12 col-md-6 col-lg-6 ">
                    <div class="card career_sect_card mb-3 anim2">
                        <div class="card-body mt-3 ms-2">
                            <span class="px-4 py-2">Software Developer</span>
                         
                          <h4 class="card-title pt-5"> <b>Middle/Senior react developer</b></h4>
                          <p class="py-3 fs-5"> <a href="./reactdev" id="See-more">See More <i class="fa-sharp fa-solid fa-arrow-right ms-2" id="ic1"></i></a></i> </p>
                        
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-6 anim2">
                    <div class="card career_sect_card">
                        <div class="card-body mt-3 ms-2">
                            <span class="px-4 py-2">Software Developer</span>
                         
                          <h4 class="card-title pt-5"> <b>Senior Product Enginer</b></h4>
                          <p class="py-3 fs-5"> <a href="#" id="See-more">See More <i class="fa-sharp fa-solid fa-arrow-right ms-2" id="ic1"></i></a></i> </p>
                        
                        </div>
                    </div>
                </div>

            </div>

            <div class="row mt-3" style="text-align: left;">
                <div class="col-sm-12 col-md-6 col-lg-6 anim3">
                    <div class="card  mb-3 career_sect_card">
                        <div class="card-body mt-3 ms-2">
                            <span class="px-4 py-2">Software Developer</span>
                         
                          <h4 class="card-title pt-5"> <b>Middle/Senior Node Developer</b></h4>
                          <p class="py-3 fs-5"> <a href="#" id="See-more">See More <i class="fa-sharp fa-solid fa-arrow-right ms-2" id="ic1"></i></a></i> </p>
                        
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-6 anim3">
                    <div class="card  mb-3 career_sect_card">
                        <div class="card-body mt-3 ms-2">
                            <span class="px-4 py-2">Software Developer</span>
                         
                          <h4 class="card-title pt-5"> <b>Middle/Senior Java developer</b></h4>
                          <p class="py-3 fs-5"> <a href="#" id="See-more">See More <i class="fa-sharp fa-solid fa-arrow-right ms-2" id="ic1"></i></a></i> </p>
                        
                        </div>
                    </div>
                </div>
                
            </div>

        </div>

    </div>
</div>

<!--career section ends  -->


<!-- our team section starts -->

<div class="row" style="text-align: center;" id="team">
    <div class="col">

    <div class="container pb-3">

        <div class="row" >
            <div class="col pt-5">
                <h5 class="heading">Our Team</h5>
                <h1 class="pb-2">Our Expert Engineers</h1>

                <div style="display: flex;place-content: center;" ><p class="line mb-5"></p></div>
            </div>
        </div>


        <div class="row" style="display: flex;place-content: center;">

            <div class="col-sm-12 col-md-12 col-lg-3">
                <div class="card border-0">
                    <div class="card-body">
                        <img src="/assserts/images/team-member2.webp" class="img-fluid">
                        <h4 class="pt-3">Adam jhon</h4>
                        <p class="card-text text-info"> 
                            Admin Manager
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-3">
                <div class="card border-0">
                    <div class="card-body">
                        <img src="/assserts/images/team-member2.webp" class="img-fluid">
                        <h4 class="pt-3">Adam jhon</h4>
                        <p class="card-text text-info"> 
                            Chairman
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-3">
                <div class="card border-0">
                    <div class="card-body">
                        <img src="/assserts/images/team-member2.webp" class="img-fluid">
                        <h4 class="pt-3">Adam jhon</h4>
                        <p class="card-text text-info"> 
                            Founder
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    </div>
</div>

<!-- our team section ends -->


<!-- how it works starts -->


<div class="row m-0" style="text-align: center;background-color: #d8dbdf94;">
    <div class="col pt-5">
        <h5 class="heading">Process</h5>
        <h1 class="pb-2">How IT Work</h1>

        <div style="display: flex;place-content: center;" ><p class="line mb-5"></p></div>
    </div>
</div>

<div class="row py-4 m-0" style="display: flex; place-content: center;text-align: center; background-color: #d8dbdf94;">

    <div class="col-sm-12 col-md-3 col-lg-3 anim4">
        <img src="/assserts/images/how.png" class="img-fluid network_img">
        <div style="display: flex;place-content: center;" ><p class="line1"></p></div>
        <h3>Select a Problem</h3>
        <p>We have the technology and industry expertise to develop solutions that can connect people and businesses.</p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 anim4">
        <img src="/assserts/images/how.png" class="img-fluid network_img">
        <div style="display: flex;place-content: center;" ><p class="line1"></p></div>
        <h3>Collect Data</h3>
        <p>We have the technology and industry expertise to develop solutions that can connect people and businesses.</p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 anim4">
        <img src="/assserts/images/how.png" class="img-fluid network_img">
        <div style="display: flex;place-content: center;" ><p class="line1"></p></div>
        <h3>Process Data</h3>
        <p>We have the technology and industry expertise to develop solutions that can connect people and businesses.</p>
    </div>


</div>

<!-- how it works ends -->


<!-- Customer reviews section starts-->

<div class="row banner1 m-0">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h1 class="py-2">Our customers tell you everything<br> about your company</h1>
        <p class="pt-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Saepe, expedita perferendis, minus fuga quidem <br>
            adipisci, repellat libero maiores molestias consectetur 
            provident iusto earum ipsum aliquam odio quo itaque eaque. Expedita.</p>
            <div style="display: flex;place-content: center;" ><p class="line2"></p></div>
    </div>
</div>

<div class="row m-0">
    
    <div class="col">
        <div class="container">
            <div class="row py-5 customer-data">
    <div class="col-sm-12 col-md-3 col-lg-3">

        <div class="row">
            <div class="col">
                <img src="/assserts/images/customer-icon.jpg" class="img-fluid customer-review-img">
            </div>
            <div class="col">
                <h1><b>147+</b></h1>
                <p>HAPPY CUSTOMERS</p>
            </div>
        </div>

    </div>

    <div class="col-sm-12 col-md-3 col-lg-3">

        <div class="row">
            <div class="col">
                <img src="/assserts/images/saving.png" class="img-fluid customer-review-img">
            </div>
            <div class="col">
                <h1><b>1280+</b></h1>
                <p>ACCOUNT NUMBER</p>
            </div>
        </div>

    </div>

    <div class="col-sm-12 col-md-3 col-lg-3">

        <div class="row">
            <div class="col">
                <img src="/assserts/images/project-icon.webp" class="img-fluid customer-review-img">
            </div>
            <div class="col">
                <h1><b>10k+</b></h1>
                <p>FINISHED PROJECTS</p>
            </div>
        </div>

    </div>

    <div class="col-sm-12 col-md-3 col-lg-3">

        <div class="row">
            <div class="col">
                <img src="/assserts/images/award-icon.png" class="img-fluid customer-review-img">
            </div>
            <div class="col">
                <h1><b>990+</b> </h1>
                <p>WIN AWARDS</p>
            </div>
        </div>

    </div>

</div>
</div>
</div>
</div>

<!-- customer reivews section ends -->

<!-- mail section starts -->

<div class="row m-0 p-0"> 
    <div class="col pt-4 Newsletter">
        <h1>Subscribe to our Newsletter</h1>
        <div class="py-4 ">
            <input class="p-3 border-0" type="mail" placeholder="Enter your mail" size="30" >
            <button class="btn p-2 fs-5 mb-2 btn-outline-none" type="submit">Subscribe</button>
        </div>
    </div>
</div>
<!-- mail section ends -->
<%- include('./common/footer.ejs')%>
</div>

