<%- include('./common/header.ejs')%>
<div class="container-fluid">
    <div class="row">
        <div class="col">


            

            <div class="container">

            <!-- nav-links section -->
                <div class="row menu">
                    <div class="col">
                        <a href="/"class="border-end pe-2">Home</a>
                        <a href="/Services" class="px-2 border-end">Services</a>
                        Self Managed Teams
                    </div>
                </div>

             <!-- nav-links section ends -->

            <!-- Self Managed Team section -->

            <div class="row pb-3">
                <div class="col-sm-12 col-md-12 col-lg-5 pt-5 serv-f1">
                    <h1>Self Managed Teams</h1>
                    <p class="fs-5 pt-3">Hire a team of Developers, Designers, Quality Assurance Specialists, DevOps Engineers, and other experts you may need to work hand-by-hand on your digital product.</p>
                    <button class="btn mx-3 px-4 my-3 contact" type="submit">Contact</button>
                </div>
            </div>

            <!-- Self Managed Team section ends -->

            <!--  Why Techno? starts-->

            <div class="row" style="background-color: rgba(176, 172, 172, 0.068);">
                <div class="col-sm-12 col-md-12 col-lg-6  pt-5 ">
                    <h1 >Why TECHNO ?</h1>
                    <p>Many companies face challenges with finding vetted specialists.
                        Our unique solution for hiring self-managed experts addresses all of these concerns.</p>
                </div>
            </div>

            <div class="row why_techno" style="background-color: rgba(176, 172, 172, 0.068);">
                <div class="col-sm-12 col-md-12 col-lg-3 border-end py-4">
                    <h4>Professional</h4>
                    <p>Experts are chosen for their deep knowledge and successful track record.</p>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-3 border-end py-4">
                    <h4>Teammates</h4>
                    <p>Experts are screened on their soft skills to ensure they are amazing teammates.</p>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-3 border-end py-4">
                    <h4>Self-managed</h4>
                    <p>Our self-organized agile teams ensure eﬀectiveness and project success.</p>
                </div>
            </div>

            <div class="row pb-5" style="background-color: rgba(176, 172, 172, 0.068);">
                <div class="col-sm-12 col-md-12 col-lg-3 border-end py-4">
                    <h4>Financial control</h4>
                    <p>Experts are chosen for their deep knowledge and successful track record.</p>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-3 border-end py-4">
                    <h4>Teammates</h4>
                    <p>Experts are screened on their soft skills to ensure they are amazing teammates.</p>
                </div>

                <div class="col">
                    
                </div>
            </div>

            <!-- why techno ends -->
        </div>

            


            <!--all  services section starts-->

            <div class="row" style="background-color: #081937;">
                <div class="col">

                    <div class="container pb-3 text-white" >

                        <div class="row py-2" style="text-align: center;">
                            <div class="col py-3">
                                <h5 class="heading py-3">Our Services</h5>
                                <h1>We Provide You With Your Quality IT Solution Services</h1>
                                <div style="display: flex;place-content: center;" ><p class="line mt-5"></p></div>
                            </div>
                        </div>

                        <div class="row py-3">
                            <div class="col-sm-12 col-md-6 col-lg-4 py-3">
                                <div class="card service-card">
                                    <div class="card-body ">
                                        <img src="/assserts/images/web-icon.png">
                                      <h5 class="card-title pt-4"> <b>Web development</b></h5>
                                      <p class="card-text"> 
                                        We always provide people a complete solution focused of any business.
                                      </p>
                                    
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6 col-lg-4 py-3">
                                <div class="card service-card">
                                    <div class="card-body ">
                                        <img src="/assserts/images/mobile-icon1.png">
                                      <h5 class="card-title pt-4"> <b>Mobile Development</b></h5>
                                      <p class="card-text"> 
                                        We always provide people a complete solution focused of any business.
                                      </p>
                                    
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6 col-lg-4 py-3">
                                <div class="card service-card">
                                    <div class="card-body ">
                                        <img src="/assserts/images/ui-icon.png">
                                      <h5 class="card-title pt-4"> <b>UI/UX Design</b></h5>
                                      <p class="card-text"> 
                                        We always provide people a complete solution focused of any business.
                                      </p>
                                    
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6 col-lg-4 py-3">
                                <div class="card service-card">
                                    <div class="card-body">
                                        <img src="/assserts/images/consulting-icon.jpg">
                                      <h5 class="card-title pt-4"> <b>Web development</b></h5>
                                      <p class="card-text"> 
                                        We always provide people a complete solution focused of any business.
                                      </p>
                                    
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6 col-lg-4 py-3">
                                <div class="card service-card">
                                    <div class="card-body ">
                                        <img src="/assserts/images/QA_Blue.png">
                                      <h5 class="card-title pt-4"> <b>Mobile Development</b></h5>
                                      <p class="card-text"> 
                                        We always provide people a complete solution focused of any business.
                                      </p>
                                    
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6 col-lg-4 py-3">
                                <div class="card service-card">
                                    <div class="card-body ">
                                        <img src="/assserts/images/security-icon.png">
                                      <h5 class="card-title pt-4"> <b>UI/UX Design</b></h5>
                                      <p class="card-text"> 
                                        We always provide people a complete solution focused of any business.
                                      </p>
                                    
                                    </div>
                                </div>
                            </div>

                        </div>

                        
                    </div>

                    

                    
                </div>
            </div>

            <!-- all services section ends -->

            <div class="row">
                <div class="col py-4">

                    <div class="container pt-5">
                        <div class="row" style="display: flex;place-content: center;">
                            <div class="col-sm-12 col-md-12 col-lg-7">

                                <h1 class="border-bottom pb-4"><b>FAQs</b></h1>
                        <div class="accordion accordion-flush pb-5" id="accordionFlushExample">
                            <div class="accordion-item">
                              <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                  <b>Do you use agile Project Management?</b>
                                </button>
                              </h2>
                              <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">We employ modified agile processes focused on fast iterations and pushing new releases every 2 weeks after the initial launch.</div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                  <b>How is the team typically Structured? </b>
                                </button>
                              </h2>
                              <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Every team starts with a planning phase to define a Minimum Viable Product (MVP) that enables software testing. We suggest to brake down projects into releases to address key functionalities that provide certain business results over time.</div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                  <b>Will be working directly with the specialists?</b>
                                </button>
                              </h2>
                              <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Chimera provides self-managed specialists, so you work directly with a team of technicians. With bigger teams, you usually are going to communicate with the team leader.</div>
                              </div>
                            </div>
                          </div>
                    </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

            


        </div>
    </div>
</div>
<%- include('./common/footer.ejs')%>
