<div class="container-fluid border-top" style="background-image: linear-gradient(to left,#081937,#112e67);color: #fff;display: flex;place-content: center;">

    <div class="row">
        <div class="col">

            <div class="container">
                <div class="row pt-5">
                    <div class="col-sm-12 col-md-12 col-lg-4 py-5 px-4">
                        <h2>TECHNO</h2>
                        <p class="py-5">We Provide you New technology Related Projects</p>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 py-5 px-4">
                        <h2>Our Services</h2>
                        <ul>
                            <li>Web Development</li>
                            <li>App Development</li>
                            <li>UI/UX Design</li>
                            <li>IT Consultancy</li>
                            <li>Q&A Testing</li>
                            <li>Cyber Security</li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 py-5 px-4"> 
                        <h2>Company</h2>
                    </div>
                    </div>
                </div>
                
                    <div class="row" >
                        <div class="col-sm-12 col-md-6 col-lg-6">Copyright techno all rights reserved  Contact Us</div>
                        <div class="col-sm-12 col-md-6 col-lg-6"></div>
                    </div>
            </div>

        </div>
    </div>

    
    
    <script src="/assserts/js/script.js"></script>
</div>